.block-container {
    padding-top: 2rem;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 0rem;
    text-align: center ;
}

.stColumn {
    padding: 0rem;
}

/* Ask model A input box on the left + pick a model on the left */
div[data-testid="stHorizontalBlock"] > div:nth-child(1) {
    background-color: rgb(0, 0, 0);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
}

/* chat header box + chat area */
div[data-testid="stHorizontalBlock"] > div:nth-child(2) {
    background-color: rgb(52, 52, 52);
    border-radius: 0.5rem;
}

/* Ask model B input box on the right + pick a model on the right */
div[data-testid="stHorizontalBlock"] > div:nth-child(3) {
    background-color: rgb(0, 0, 0);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

.stIFrame {
    /* border: 2px solid rgb(0, 253, 80); */
    margin-bottom: -2rem !important;
}

.model-left {
    border: 2px solid rgb(0, 255, 98);
}